.header{
    margin-bottom: 35px;
}
a{
    text-decoration: none;
    color:rgba(34,54,69,.7);
    font-weight: 600;
}

a:hover{
    color: black;
    font-weight: bolder;
}

.container-fluid{
    padding-right: 50px;
}

.the {
    text-transform: lowercase;
    font-family: BrandonGrotesque, sans-serif;
    font-size: 36px;
    position: relative;
    top: -30px;
    border-bottom: 10px solid #fff;
}


#site-title {
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: BrandonGrotesque, sans-serif;
    display: block;
    margin-bottom: 20px;
}
#site-title:hover{
    font-weight: bolder;
    color: #732C2C;
}