.card{
    margin-bottom: 40px;
}
.row{
    margin-right: 30px;
    margin-left: 30px;
}

.btn{
    margin-bottom: 50px;
}

.btn-css{
    margin-left: 20px;
    margin-bottom: 0px;

}

.container{
    background-color: whitesmoke;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 20px;
}