<!-- <app-nav></app-nav> -->

<div class="col-md-6 offset-md-3">
  <h3>Quote</h3>
  <!-- TO RESET FORM: https://www.youtube.com/watch?v=gfSwvsqUv84&ab_channel=kudvenkat -->
  <form #submitForm = "ngForm" (ngSubmit)="onSubmit(); submitForm.reset()">
     <div class="form-group">
      <!-- <label> Quote </label> -->
      <input
        type="text"
        class="form-control"
        id="quo"
        [(ngModel)]="quotes.quote"
        name="quo"
        placeholder="Quote"
      />
    </div>
    <div class="form-group">
      <!-- <label> </label> -->
      <input
        type="text"
        class="form-control"
        id="ch"
        [(ngModel)]="quotes.chapter"
        name="ch"
        placeholder="Chapter"
      />
    </div>

    <div class="form-group">
      <!-- <label> page </label> -->
      <input
        type="text"
        class="form-control"
        id="page"
        [(ngModel)]="quotes.page"
        name="page"
        placeholder="Page"
      />
    </div>
    <button class="btn btn-dark" type="submit">Submit</button>
  </form>
</div>




<div class="row">
  <div
    *ngFor="let q of quote.slice().reverse()"
    class="col-12 col-md-6 col-lg-4"
  >
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Quote</div>
      <div
        class="card-body "
        style="padding-bottom: 0%"
      >
        <blockquote class="blockquote">
          <p>{{ q.quote }}</p>
          <footer class="blockquote-footer text-white">
            chapter <cite title="Source Title">{{ q.chapter }},</cite> page
            <cite title="Source Title">{{ q.page }}</cite>
          </footer>
        </blockquote>
        <div class="card-body">
          <button (click)="updateQuote(q.id)" class="btn btn-light btn-css">
            Edit
          </button>
          <button (click)="deleteQuote(q.id)" class="btn btn-warning btn-css">
            Delete
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
