<div class="row">
    <div
      *ngFor="let q of quote.slice().reverse()"
      class="col-12 col-md-6 col-lg-4"
    >
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">Quote</div>
        <div
          class="card-body "
          style="padding-bottom: 0%"
        >
          <blockquote class="blockquote">
            <p>{{ q.quote }}</p>
            <footer class="blockquote-footer text-white">
              chapter <cite title="Source Title">{{ q.chapter }},</cite> page
              <cite title="Source Title">{{ q.page }}</cite>
            </footer>
          </blockquote>
          
        </div>
      </div>
    </div>
  </div>
  