
<header class="header">
  <div class="container-fluid">
    <nav class="nav nav-pills flex-column flex-sm-row navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink=""><img
          src="../../assets/images/logo/BookClub-logos (1)/BookClub-logos_black.png" alt="book club logo" height="100"
          width="100" />
      </a>

      <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" routerLink="">Home</a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="/posts/">Posts</a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="/quotes">Quotes</a>
    </nav>
  </div>
</header>

<span id="site-title">
  <p>WELCOME TO <span class="the">THE</span> BOOKCLUB</p>
</span>