.card{
    margin-bottom: 40px;
}
.row{
    margin-right: 20px;
    margin-left: 20px;
}

.btn{
    margin-bottom: 50px;
}

.btn-css{
    margin-left: 20px;
    margin-bottom: 0px;

}

.container{
    background-color: #694F5D;
}